.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/linux_arm64/terraform-provider-aws_v6.0.0_x5
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/linux_arm64/LICENSE.txt
keyPair.pem
